@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.header::after{
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 50px;
    position: absolute;
    top: 0.4rem;;
    right: 14px;
    background-image: url('/assets/icons/header.svg');
}

.header .photo{
    width: 125px;
    height: 125px;
    border-radius: 100%;


}
.header .title {
    text-align: center;
    font-size: 1.3em;
    font-family: "Meow Script", cursive;
    letter-spacing: 0.03em;
}

 .informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 0.6em;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 30px;
}

.informations p {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.informations p::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.informations p.uni::before{
        background-image: url('/assets/icons/contacticon.svg');
}

.informations p.location::before{
        background-image: url('/assets/icons/locationicon.svg');
}

.informations p.phone::before{
        background-image: url('/assets/icons/wppicon.svg');
}

.informations p.email::before{
        background-image: url('/assets/icons/emailicon.svg');
}

@media only screen and (min-width: 680px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo informations";
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        width: 210px;
    }

    .header .informations {
        grid-area: informations;
    }
}